---
layout: compress
---
<!doctype html>
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
        {% include _head.html %}
</head>

<body id="top-of-page" class="{{ layout.format }}">
	{% unless page.skip_boilerplate %}
	{% include _navigation.html %}
	{% endunless %}

	{% include _masthead.html %}

  <!-- Banner -->
  <section id="banner">
  <div class="inner">
    <h1>AI4Science </h1>
    <p>Artificial Intelligence for Scientific Discovery</p>
  </div>
  </section>

<div class="row t30">
	{{ content }}
</div><!-- /.row -->

	{% unless page.skip_boilerplate %}
	{% include _footer.html %}
	{% endunless %}

	{% include _footer_scripts.html %}
</body>

</html>
