---
layout: page-fullwidth 
---

<html>

<!--
<head>
  <title>AI4Science</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>

<!-- Header -->
<header id="header">
  <div class="inner">
    <a href="index.html" class="logo">AI4Science</a>
    <nav id="nav">
      <a href="index.html">Home</a>
      <a href="laboratory.html">Laboratory</a>
      <a href="consortium.html">Consortium</a>
      <a href="events.html">Events</a>
      <a href="index.html#footer">Contact</a>
    </nav>
  </div>
</header>

<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

  <!-- Main -->
  <section id="main" >
  <div class="inner">

    <img class="image fit" src="images/banner_kickoff.jpg" alt="" />

    <section id="one" >
    <header class="special">
      <h2>A virtual Workshop</h2>
    </header>
-->    

<body>

<p>
    Deep learning and artificial intelligence for scientific research
    are evolving quickly, with new developments appearing continually
    for analyzing data sets, discovering patterns, and predicting
    behavior in all fields of science. The AI4Science Kickoff Workshop
    aims to bring junior and expert researchers together that share
    the interest in artificial intelligence developments for scientific
    discovery.
    Several invited speakers working on the forefronts of combining data science 
    with e.g. systems biology, particle physics, molecular modeling,
    and astrophysics, will talk about intriguing scientific challenges and their
    latest developments to tackle them.
    </p>
    <p>
    We also take this moment to announce and celebrate
    the completion of this stage of the AI4Science Laboratory. Five
    PhD students that started their research projects in the last
    months will briefly highlight the current state-of-the-art and their
    future perspective on using AI in their respective scientific domains. 
    </p>
    <p>
    The workshop will be an online event with help of video
    conferencing tools. Registered attendees will have the possibility
    to ask questions after the lectures, present a poster, and join
    the poster session and breakout rooms for further discussion. 
    </p>
    </section>
  
  <section id="two-alt">
  <div class="inner">
    <article>
      <div class="content">
	<h2>ELLIS Society</h2>
	<p>
	This workshop is hosted by the Society of the European Lab for
	Learning and Intelligent Systems (ELLIS). ELLIS enables Europe
	to shape how machine learning and modern AI will change the
	world, and aims for economic impact and jobs in Europe through
	outstanding and free basic research. For more information on ELLIS
	visit <a class="alt" href="https://ellis.eu/">https://ellis.eu</a>.
	</p>
        <p>
	  <a href="https://ellis.eu/" class="button special">Learn More</a>
        </p>
      </div>
    </article>
    <article class="alt">
      <div class="content">
        <div class="image fit">
	  <img src="../images/ellis_logo.png" alt="ELLIS Society" />
	</div>
      </div>
    </article>
  </div>
  </section>
  
  <section id="one">
  <div class="inner">
    <h2>Speakers</h2>
    <p>
    <dl>
      <dt><a href="http://www.mi.fu-berlin.de/en/math/groups/comp-mol-bio/">Frank No&eacute</a>, Freie
	Universit&auml;t Berlin, Germany</dt>
	<dd><u>AI for the Sciences</u></dd>
	<dd><i>AI, and specifically deep ML methods have a profound impact on industry and information technology. But since recently AI methods are also changing the way we do science. In this talk I will present some of our recent efforts to build machine learning methods that attack fundamental problems in physical and chemical sciences: the sampling problem in physical many-body systems, and the solution of the quantum-chemical electronic Schrödinger equation. Key in making progress in these hard problems with ML is to interrogate the physical system about what the learning problem should be, and to encode physical structures, such as symmetries and conservation laws, into the ML model.</i></dd>
      <dt><a
      href="https://as.nyu.edu/content/nyu-as/as/faculty/kyle-s-cranmer.html">Kyle
      Cranmer</a>, New York University, USA</dt>
      <dd><u>How machine learning can help us get the most out of our highest fidelity physical models</u></dd>
      <dd><i>The physical sciences are replete with high-fidelity simulators: computational manifestations of physical theories. These simulators often incorporate experimental data or are composed of disparate phenomena that occur at different scales or regimes. Ironically, while these simulators provide our highest-fidelity physical models, they are not well suited for inferring properties of the model from data. I will formulate the emerging area of simulation-based inference and describe how machine learning techniques are well-suited for this task. Finally, I will provide examples of how these techniques can impact physics at the Large Hadron Collider, astroparticle physics, lattice field theory, molecular dynamics, and public health. </i></dd>

      <dt><a
  href="https://www.dzne.de/en/research/research-areas/population-health-sciences/forschungsgruppen/mukherjee/research-areasfocus/">Sach
	Mukherjee</a>, DZNE Bonn, Germany</dt>
	<dd><u>Towards causal learning in very high dimensions</u></dd>
	<dd><i>The biomedical sciences are full of systems that are extremely high dimensional but whose underlying causal structure is not well understood. On the other hand, a series of technological developments over several years has transformed our ability to make measurements on such systems. I will discuss some of our recent efforts to develop scalable methods to exploit high-dimensional data for causal learning. I will also discuss the assessment of causal learning in the scientific context and show results in which causal learners are tested empirically against experimental data from genome-wide molecular biology. Finally, I will discuss some of the many open questions in this area.</i></dd>
      <dt><a
  href="https://users.flatironinstitute.org/~sho/index.html">Shirley
  Ho</a>, Flatiron Institute, New York, USA</dt>
	<dd>Title and abstract will be announced shortly.</dd>
    </dl>
    </p>
  </div>
  </section>


  <section id="one">
  <div class="inner">
    <h2>Poster presentations</h2>
    <p>
    We invite short abstract submissions to be presented as posters at the
    workshop (no online proceedings). Submissions will be lightly
    reviewed by the organizers. Both novel works and recently published
    works that fit within the topic areas of the workshop are
    acceptable.
    </p>
    <p>
    Please submit your abstract in PDF format via email to
    ai4science.info@gmail.com, preferably together with your
    registration (see below). Submissions should not
    exceed 1 page of content (including references) and should
    not include an appendix. Submissions should use the <a
  href="https://neurips.cc/Conferences/2020/PaperInformation/StyleFiles">NeurIPS 2020
    style file</a>. For questions, please contact ai4science.info@gmail.com.
    </p>
    <p>
    <ul>
      <li> Submission deadline: 28 June 2020 (11.59 pm CEST).
      <li> Acceptance notifications: 1 July 2020.
    </ul>
    </p>
  </div>
  </section>
  
  <section id="one">
  <div class="inner">
    <h2>Registration</h2>
    <p>
      Registration is now open. It is free and for everyone with an interest in
      learning more about AI developments for the sciences. To
      register, please send an email before June 28 with the following information:
    <ul class="var">
      <li>Name (first, last, title)
      <li>Institute or affiliation
      <li>Place (city and country)
      <li>Email address
      <li>Presenting a poster: (yes/no)
    </ul>
      to the following email address: <a
  href="mailto:ai4science.info@gmail.com?&subject=Registration%20for%20AI4Science%20Kickoff%20Workshopy&body=Dear%20organisers,%0A%0AI%20would%20like%20to%20be%20registered%20for%20the%20AI4Science%20Kickoff%20Workshop.%20Hereby%20my%20details:%0A%0A%20%20Name:%0A%20%20Institute:%0A%20%20Place%20and%20Country:%0A%20%20Email%20address:%0A%20%20Poster:%20(yes/no)%0A%0AKind%20regards,%0A">ai4science.info@gmail.com</a>.  
    </p>
    <p>Poster presenters should attach to their email the poster title and
    abstract in a PDF document following the instructions above.
    </p>
  </div>
  </section>



   
  <section id="one">
  <div class="inner">
    <h2>Program</h2>
 <!--   <p>The program will follow here shortly.</p> -->

    <p>All times are Central European Summer Time (CEST).</p>
  <div class="table-wrapper">
    <table>
      <thead>
	<tr>
	  <th>Time</th>
	  <th>Presenter</th>
	</tr>
      </thead>
      <tbody>
      <tr>
	<td><br>9.10 - 9.30</td>
	<td><i>Chair: Bernd Ensing</i><br>
	  Opening remarks:<br>
	  <a
	  href="https://www.uva.nl/en/profile/t/i/p.h.vantienderen/p.h.vantienderen.html">Peter
	  van Tienderen</a>, Dean of the Faculty of Exact Sciences<br>
	  <a
	  href="https://www.uva.nl/profiel/h/o/a.g.hoekstra/a.g.hoekstra.html">Alfons
	  Hoekstra</a>, Director of the Informatics Institute<br>
	</td>  
      </tr>
      <tr>
	<td>9.30 - 10.10</td>
	<td><a href="http://www.mi.fu-berlin.de/en/math/groups/comp-mol-bio/">Frank No&eacute</a>, Freie
	Universit&auml;t Berlin, Germany<br>
	  <span class="title"><i>AI for the Sciences<i></span>
	</td>  
      </tr>
      <tr>
	<td>10.15 - 10.25</td>
	<td><a href="laboratory.html#students">Jim Boelrijk</a>, AI4Science Lab<br>
	  <span class="title"><i>title to be announced<i></span>
	</td>
      </tr>
      <tr>
	<td>10.30 - 11.10</td>
	<td><a
  href="https://www.dzne.de/en/research/research-areas/population-health-sciences/forschungsgruppen/mukherjee/research-areasfocus/">Sach
	Mukherjee</a>, DZNE Bonn, Germany<br>
	  <span class="title"><i>Towards causal learning in very high dimensions<i></span>
	</td>  
      </tr>
      <tr>
	<td>11.15 - 11.25</td>
	<td><a href="laboratory.html#students">Teodora Pandeva</a>, AI4Science Lab<br>
	  <span class="title"><i>Causal discovery approach for predicting gene regulatory networks: challenges and opportunities<i></span>
	</td>
      </tr>
      <tr>
	<td>11.30 - 13.30</td>
	<td>Poster session / lunch </td>
      </tr>
      <tr>
	<td><br>13.30 - 14.10</td>
	<td><i>Chair: Patrick Forr&eacute</i><br>
	Speaker to be confirmed<br>
	  <span class="title"><i>title to be announced<i></span>
	</td>  
      </tr>
      <tr>
	<td>14.15 - 14.25</td>
	<td><a href="laboratory.html#students">Fiona Lippert</a>, AI4Science Lab<br>
	  <span class="title"><i>Machine Learning for radar aeroecology<i></span>
	</td>
      </tr>
      <tr>
	<td>14.30 - 15.10</td>
	<td><a
      href="https://as.nyu.edu/content/nyu-as/as/faculty/kyle-s-cranmer.html">Kyle
      Cranmer</a>, New York University, USA<br>
	  <span class="title"><i>How machine learning can help us get
	  the most out of our highest fidelity physical models<i></span>
	</td>  
      </tr>
      <tr>
	<td>15.15 - 15.25</td>
	<td><a href="laboratory.html#students">Benjamin Miller</a>, AI4Science Lab<br>
	  <span class="title"><i>Using Machine Learning and Gravitation for Astrophysics<i></span>
	</td>
      </tr>
      <tr>
	<td>15.30 - 16.10</td>
	<td><a
	  href="https://users.flatironinstitute.org/~sho/index.html">Shirley
	  Ho</a>, Flatiron Institute, New York, USA<br>
	  <span class="title"><i>title to be announced<i></span>
	</td>  
      </tr>
      <tr>
	<td>16.15 - 16.25</td>
	<td><a href="laboratory.html#students">David Ruhe</a>, AI4Science Lab<br>
	  <span class="title"><i>title to be announced<i></span>
	</td>
      </tr>
      <tr>
	<td>16.30</td>
	<td>Closing / drinks </td>
      </tr>
    </tbody>
    </table>
  </div>
  
  </div>
  </section>

    <section id="one">
      <div class="inner">
	<h2>Organisers</h2>
	<p>
	The AI4Science Kickoff Workshop is organised by:
	<ul>
	  <li> <a href="http://www.acmm.nl/ensing/">Bernd Ensing</a>, University of Amsterdam
	  <li> <a href="https://www.uva.nl/en/profile/f/o/p.d.forre/p.d.forre.html">Patrick Forr&eacute</a>, University of Amsterdam
	</ul>
	</p>
      </div>
    </section>


<!--
<!-- Footer -->
<footer id="footer">
<div class="inner">
<div class="content">
  <section>
  <h3>Contact Us</h3>
  <dl>
    <dt>Visiting Address:</dt>
      <dd>Science Park 904</dd>
      <dd>1098 XH Amsterdam</dd>
    
    <dt>Postal Address:</dt>
      <dd>University of Amsterdam</dd>
      <dd>AI4Science Laboratory</dd>
      <dd>P.O. Box 94323</dd>
      <dd>1090 GH Amsterdam</dd>
      <dd>The Netherlands</dd>

    <dt>Tel: +31 (0)20 525 7519<br>
    Email: <a href="laboratory.html#people_id">P.D.Forre _AT_ uva.nl</a></dt>
  </dl>  
  </section>
    
  <section>
  <h4>UvA websites</h4>
  <ul class="plain">
    <li><a href="https://www.uva.nl">University of Amsterdam.</a></li>
    <li><a href="https://www.uva.nl/en/about-the-uva/organisation/faculties/faculty-of-science/faculty-of-science.html">Faculty of Exact Sciences.</a></li>
    <li><a href="https://ivi.uva.nl/">Informatics Institute (IvI)</a></li>
    <li><a href="http://amlab.science.uva.nl/">Amlab</a></li>
    <li><a href="index.html">AI4Science home.</a></li>
    <li><a href="laboratory.html#people_id">Who are we?</a></li>
  </ul>
  </section>
  <section>
  <h4>Follow us</h4>
  <ul class="plain">
    <li><a href="http://twitter.com/ai4science_lab" target="_blank"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
    <li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
    <li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
    <li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
  </ul>
  </section>
</div>
<div class="copyright">
  &copy; Copyright 2020 UvA FNWI AI4Science Laboratory. All Rights Reserved.
</div>
</div>
</footer>

-->

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>
