---
layout: page-fullwidth
---
<html>
<body>

    <p>
    The AI4Science Lab is fashioned after the successful <a
    href="https://icai.ai">Innovation Center for Artificial
    Intelligence (ICAI)</a> labs, which connect research institutes
    with industry or government in the area of artificial
    intelligence. The distinction is that the AI4Science Lab connects computer
    science and AI experts with scienctists from the different academic
    domeins within the <a
    href="https://www.uva.nl/en/about-the-uva/organisation/faculties/faculty-of-science/faculty-of-science.html">Faculty
    of Exact Sciences</a> at the <a href="https://www.uva.nl">University of
    Amsterdam.</a>. 
    </p>
    <p>
    A wealth of data is continuously produced from all sorts of
    experimental sources in the different academic research
    labs. Thanks to automatization, parallelisation, high-throughput
    setups, high-resolution instruments, and fast networks, “big data”
    has become a practical issue in a wide range of experimental
    research projects. Analysis of these large data streams is often a
    grand challenge. The current surge of AI machinery provides
    therefore a compelling opportunity to help with the analysis of
    these scientific data streams. 
    </p>
    <p>
    The FNWI <a href="https://ivi.uva.nl/">Institute of Informatics
    (IvI)</a> is at the forefront of the 
    scientific research field of AI. IvI houses the <a
    href="http://amlab.science.uva.nl/">Amsterdam Machine Learning
    Laboratory (AMLab)</a> directed by Prof. Max Welling and also
    the head office of the aforementioned ICAI Network is at the
    Science Park in Amsterdam, well-connected to IvI.
    </p>
    <p>
    At the AI4Science Laboratory, we develop and apply artifical
    intelligence and data-driven solutions for scientific discovery.
    </p>
    <hr class="double">

    <header class="major special">
    <h1>Who we are</h1>
    </header>

    <!-- Two -->
<!--    <section id="people" class="wrapper style1 special"> -->
    <section id="people_id" class="people">
    <div class="inner">
      <header>
        <h2>Management</h2>
      </header>
      <div class="flex flex-4">
        <div class="box person">
	  <div class="image round">
	    <a href="http://www.acmm.nl/ensing/">
	    <img src="people/BerndEnsing2_s.jpg" alt="Bernd Ensing" /></a>
	  </div>
	  <h3><a href="http://www.acmm.nl/ensing/">Bernd Ensing</a></h3>
	  <p>Director</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.uva.nl/en/profile/f/o/p.d.forre/p.d.forre.html">
	    <img src="people/PatrickForre.jpg" alt="Patrick Forre" /></a>
	  </div>
	  <h3><a href="https://www.uva.nl/en/profile/f/o/p.d.forre/p.d.forre.html">Patrick Forr&eacute</a></h3>
	  <p>Lab Manager</p>
	</div>
	<div class="box"></div>
	<div class="box"></div>
      </div>	

      <header>
        <h2>Group leaders and consultants</h2>
      </header>
      <div class="flex flex-4">
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.uva.nl/profiel/b/o/w.bouten/w.bouten.html">
	    <img src="people/WillemBouten.jpg" alt="Willem Bouten" /></a>
	  </div>
	  <h3><a href="https://www.uva.nl/profiel/b/o/w.bouten/w.bouten.html">Willem Bouten</a></h3>
	  <p>Prof. Comput. Geo-Ecology</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.uva.nl/en/profile/h/a/l.w.hamoen/l.w.hamoen.html">
	    <img src="people/LeendertHamoen.jpg" alt="Leendert Hamoen" /></a>
	  </div>
	  <h3><a href="https://www.uva.nl/en/profile/h/a/l.w.hamoen/l.w.hamoen.html">Leendert Hamoen</a></h3>
	  <p>Prof. Life Sciences</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.uva.nl/profiel/h/o/a.g.hoekstra/a.g.hoekstra.html">
	    <img src="people/AlfonsHoekstra2.jpg" alt="Alfons Hoekstra" /></a>
	  </div>
	  <h3><a href="https://www.uva.nl/profiel/h/o/a.g.hoekstra/a.g.hoekstra.html">Alfons Hoekstra</a></h3>
	  <p>Prof. Computational Science</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.uva.nl/profiel/j/o/m.j.jonker/m.j.jonker.html">
	    <img src="people/MartijsJonker.jpg" alt="Martijs Jonker" /></a>
	  </div>
	  <h3><a href="https://www.uva.nl/profiel/j/o/m.j.jonker/m.j.jonker.html">Martijs Jonker</a></h3>
	  <p>Assoc. Prof. Life Sciences</p>
	</div>
      </div>	

      <div class="flex flex-4">	  
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.uva.nl/en/profile/l/o/e.e.vanloon/e.e.vanloon.html">
	    <img src="people/EmielvanLoon.jpg" alt="Emiel van Loon" /></a>
	  </div>
	  <h3><a href="https://www.uva.nl/en/profile/l/o/e.e.vanloon/e.e.vanloon.html">Emiel van Loon</a></h3>
	  <p>Asst. Prof. Statistical Ecology</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.uva.nl/profiel/m/o/j.m.mooij/j.m.mooij.html">
	    <img src="people/JorisMooij.jpg" alt="Joris Mooij" /></a>
	  </div>
	  <h3><a href="https://www.uva.nl/profiel/m/o/j.m.mooij/j.m.mooij.html">Joris Mooij</a></h3>
	  <p>Prof. Mathematics</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.uva.nl/en/profile/n/i/s.m.nissanke/s.m.nissanke.html">
	    <img src="people/SamayaNissanke.jpg" alt="Samaya Nissanke" /></a>
	  </div>
	  <h3><a href="https://www.uva.nl/en/profile/n/i/s.m.nissanke/s.m.nissanke.html">Samaya Nissanke</a></h3>
	  <p>Assoc. Prof. Physics</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.uva.nl/profiel/p/i/b.w.j.pirok/b.w.j.pirok.html">
	    <img src="people/BobPirok.jpg" alt="Bob Pirok" /></a>
	  </div>
	  <h3><a href="https://www.uva.nl/profiel/p/i/b.w.j.pirok/b.w.j.pirok.html">Bob Pirok</a></h3>
	  <p>Asst. Prof. Analytical Chemistry</p>
	</div>
      </div>	

      <div class="flex flex-4">	  
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.uva.nl/en/profile/r/o/b.a.rowlinson/b.a.rowlinson.html">
	    <img src="people/AntoniaRowlinson.jpg" alt="Antonia Rowlinson" /></a>
	  </div>
	  <h3><a href="https://www.uva.nl/en/profile/r/o/b.a.rowlinson/b.a.rowlinson.html">Antonia Rowlinson</a></h3>
	  <p>Asst. Prof. Astrophysics</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.ics.uci.edu/~welling/">
	    <img src="people/MaxWelling.jpg" alt="Max Welling" /></a>
	  </div>
	  <h3><a href="https://www.ics.uci.edu/~welling/">Max Welling</a></h3>
	  <p>Prof. Comput. Science</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.uva.nl/en/profile/w/e/c.weniger/c.weniger.html">
	    <img src="people/ChristophWeniger.jpg" alt="Christoph Weniger" /></a>
	  </div>
	  <h3><a href="https://www.uva.nl/en/profile/w/e/c.weniger/c.weniger.html">Christoph Weniger</a></h3>
	  <p>Assoc. Prof. Theor. Physics</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.uva.nl/en/profile/w/i/r.a.m.j.wijers/r.a.m.j.wijers.html">
	    <img src="people/RalphWijers.jpg" alt="Ralph Wijers" /></a>
	  </div>
	  <h3><a href="https://www.uva.nl/en/profile/w/i/r.a.m.j.wijers/r.a.m.j.wijers.html">Ralph Wijers</a></h3>
	  <p>Prof. Astrophysics</p>
	</div>
      </div>

      <header>
        <h2 id="students">PhD students</h2>
      </header>
      <div class="flex flex-4">	  
	<div class="box person">
	  <div class="image round">
	    <a href="">
	    <img src="people/JimBoelrijk2.jpg" alt="Jim Boelrijk" /></a>
	  </div>
	  <h3><a href="">Jim Boelrijk</a></h3>
	  <p>PhD student</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <a href="">
	    <img src="people/FionaLippert.jpg" alt="Fiona Lippert" /></a>
	  </div>
	  <h3><a href="">Fiona Lippert</a></h3>
	  <p>PhD student</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <img src="people/BenjaminMiller.jpg" alt="Benjamin Miller" />
	  </div>
	  <h3><a href="">Benjamin Miller</a></h3>
	  <p>PhD student</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <a href="">
	    <img src="people/TeodoraPandeva.jpg" alt="Teodora Pandeva" /></a>
	  </div>
	  <h3><a href="">Teodora Pandeva</a></h3>
	  <p>PhD student</p>
	</div>
      </div>

      <div class="flex flex-4">
	<div class="box person">
	  <div class="image round">
	    <a href="">
	    <img src="people/DavidRuhe.jpg" alt="David Ruhe" /></a>
	  </div>
	  <h3><a href="">David Ruhe</a></h3>
	  <p>PhD student</p>
	</div>
	<div></div>
	<div></div>
	<div></div>
      </div>

      </div>
    </section>

</div>
</section>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>
