---
layout: page-fullwidth_ai4smm 
---

<html>

<body>

<ul>
  <li><a href="#pd_id">Postdoctoral Fellows</a>
  <li><a href="#leaders_id">Project leaders</a>
  <li><a href="#board_id">Board members</a>
</ul>
  

    <!-- Two -->
<!--    <section id="people" class="wrapper style1 special"> -->

<hr style="width:100%;text-align:left;margin-left:0">

<section id="people_id" class="people">
<div class="inner">

  
  <header>
  <h2 id="pd_id">Postdoctoral Fellows</h2>
  <br/>
  </header>

<div class="flex flex-4">
<div class="box person">
    <div class="image round">
      <a href="https://scholar.google.com/citations?hl=de&user=T6PZ3qIAAAAJ&view_op=list_works&sortby=pubdate">
      <img src="../images/ai4smm_people/MaximBrodmerkel.jpg" alt="Maxim Brodmerkel" /></a>
    </div>
    <h4><a href="https://scholar.google.com/citations?hl=de&user=T6PZ3qIAAAAJ&view_op=list_works&sortby=pubdate">Maxim N. Brodmerkel</a></h4>
</div>
<div class="box person">
    <div class="image round">
      <a href="https://github.com/mfederici">
      <img src="../images/ai4smm_people/MarcoFederici.jpg" alt="Marco Federici" /></a>
    </div>
    <h4><a href="https://github.com/mfederici">Marco Federici</a></h4>
</div>

<div class="box person">
    <div class="image round">
      <a href="">
      <img src="../images/ai4smm_people/AlexanderKorotkevich.jpg" alt="Alexander Korotkevich" /></a>
    </div>
    <h4><a href="https://www.linkedin.com/in/alexander-korotkevich-51321a102/?originalSubdomain=nl">Alexander Korotkevich</a></h4>
</div>

<div class="box person">
    <div class="image round">
      <a href="">
      <img src="../images/ai4smm_people/DanielAcunaRamirez.jpg" alt="Daniel Acuña Ramirez" /></a>
    </div>
    <h4><a href="">Daniel Acuña Ramirez</a></h4>
</div>


	

<hr style="width:100%;text-align:left;margin-left:0">

<header>
<h2 id="leaders_id">Project leaders</h2>
<br/>
</header>
 
<div class="flex flex-4">
<div class="box person">
    <div class="image round">
      <a href="https://www.uva.nl/en/profile/b/o/p.g.bolhuis/p.g.bolhuis.html">
      <img src="../images/ai4smm_people/PeterBolhuis.jpg" alt="Peter Bolhuis" /></a>
    </div>
    <h4><a href="https://www.uva.nl/en/profile/b/o/p.g.bolhuis/p.g.bolhuis.html">Peter Bolhuis</a></h4>
    <p>Professor <a href="https://www.compchem.nl/staff_members/prof-dr-p-g-peter-bolhuis/">Computational Chemistry</a> (HIMS)</p>
</div>
<div class="box person">
    <div class="image round">
      <a href="https://www.uva.nl/en/profile/c/o/c.j.m.coulais/c.j.m.coulais.html">
      <img src="../images/ai4smm_people/CorentinCoulais.jpg" alt="Corentin Coulais" /></a>
    </div>
    <h4><a href="https://www.uva.nl/en/profile/c/o/c.j.m.coulais/c.j.m.coulais.html">Corentin Coulais</a></h4>
    <p>Associate Professor <a href="https://coulaislab.com">Machine Materials Lab</a> (IvI)</p>
</div>
<div class="box person">
    <div class="image round">
      <a href="https://www.uva.nl/en/profile/f/o/p.d.forre/p.d.forre.html">
      <img src="../images/ai4smm_people/PatrickForre.jpg" alt="Patrick Forré" /></a>
    </div>
    <h4><a href="https://www.uva.nl/en/profile/f/o/p.d.forre/p.d.forre.html">Patrick Forré</a></h4>
    <p>Assistant professor <a href="https://ai4science-amsterdam.github.io">AI4Science</a>, <a href="http://amlab.science.uva.nl/people/PatrickForre/">AMLab</a> (IvI)</p>
</div>
<div class="box person">
    <div class="image round">
      <a href="https://www.uva.nl/profiel/h/o/h.c.vanhoof/h.c.van-hoof.html">
      <img src="../images/ai4smm_people/HerkevanHoof.jpg" alt="Herke van Hoof" /></a>
    </div>
    <h4><a href="https://www.uva.nl/profiel/h/o/h.c.vanhoof/h.c.van-hoof.html">Herke van Hoof</a></h4>
     <p>Assistant professor <a href="http://amlab.science.uva.nl/people/HerkeVanHoof/">AMLab</a> (IvI)</p>
</div>
</div>

<div class="flex flex-4">
<div class="box person">
    <div class="image round">
      <a href="https://www.uva.nl/en/profile/j/a/s.jabbarifarouji/s.jabbari-farouji.html">
      <img src="../images/ai4smm_people/SaraJabbari-Farouji.jpg" alt="Sara Jabbari-Farouji" /></a>
    </div>
    <h4><a href="https://www.uva.nl/en/profile/j/a/s.jabbarifarouji/s.jabbari-farouji.html">Sara Jabbari-Farouji</a></h4>
    <p>Assistant Professor <a
    href="https://staff.fnwi.uva.nl/s.jabbarifarouji/">Computational
    Soft Matter</a> (IoP)</p>
</div>
<div class="box person">
    <div class="image round">
      <a href="https://www.uva.nl/en/profile/m/e/j.w.vandemeent/j.w.van-de-meent.html">
      <img src="../images/ai4smm_people/Jan-WillemvandeMeent.jpg" alt="Jan-Willem van de Meent" /></a>
    </div>
    <h4><a href="https://www.uva.nl/en/profile/m/e/j.w.vandemeent/j.w.van-de-meent.html">Jan-Willem van de Meent</a></h4>
    <p>Associate Professor <a href="http://amlab.science.uva.nl/people/JanWillemVanDeMeent/">AMLab</a> (IvI)</p>
</div>
<div class="box person">
    <div class="image round">
      <a href="https://www.uva.nl/en/profile/p/e/a.perezdealbaortiz/a.perez-de-alba-ortiz.html">
      <img src="../images/ai4smm_people/AlbertoPerezdeAlbaOrtiz.jpg" alt="" /></a>
    </div>
    <h4><a href="https://www.uva.nl/en/profile/p/e/a.perezdealbaortiz/a.perez-de-alba-ortiz.html">Alberto Pérez de Alba Ortíz</a></h4>
    <p>Assistant Professor <a
    href="https://iop.fnwi.uva.nl/computational_soft_matter">Computational
    Soft Matter</a> (HIMS & IoP)</p>
</div>
<div class="box person">
    <div class="image round">
      <a href="https://www.uva.nl/en/profile/p/r/a.praetorius/a.praetorius.html">
      <img src="../images/ai4smm_people/AntoniaPraetorius.jpg" alt="Antonia Praetorius" /></a>
    </div>
    <h4><a href="https://www.uva.nl/en/profile/p/r/a.praetorius/a.praetorius.html">Antonia Praetorius</a></h4>
     <p>Assistant Professor <a href="https://ibed.uva.nl/content/research-departments/eld/eld-department.html">Environmental Chemistry</a> (IBED)</p>
</div>
</div>

<div class="flex flex-4">
<div class="box person">
    <div class="image round">
      <a href="https://www.uva.nl/en/profile/q/u/f.quattrocchio/f.quattrocchio.html">
      <img src="../images/ai4smm_people/FrancescaQuattrocchio.jpg" alt="Francesca Quattrocchio" /></a>
    </div>
    <h4><a href="https://www.uva.nl/en/profile/q/u/f.quattrocchio/f.quattrocchio.html">Francesca Quattrocchio</a></h4>
    <p>Assistant Professor <a href="https://sils.uva.nl/content/research-groups/plant-development--epigenetics/plant-development--epigenetics.html">Plant Development & Genetics</a> (SILS)</p>
</div>
<div class="box person">
    <div class="image round">
      <a href="https://www.uva.nl/en/profile/s/a/s.samanipour/s.samanipour.html">
      <img src="../images/ai4smm_people/SaerSamanipour.jpg" alt="Saer Samanipour" /></a>
    </div>
    <h4><a href="https://www.uva.nl/en/profile/s/a/s.samanipour/s.samanipour.html">Saer Samanipour</a></h4>
    <p>Assistant Professor <a href="https://hims.uva.nl/content/research-groups/analytical-chemistry/analytical-chemistry.html">Analytical Chemistry</a> (HIMS)</p>
</div>
<div class="box person">
    <div class="image round">
      <a href="https://www.uva.nl/en/profile/s/c/p.schall/p.schall.html">
      <img src="../images/ai4smm_people/PeterSchall.jpg" alt="Peter Schall" /></a>
    </div>
    <h4><a href="https://www.uva.nl/en/profile/s/c/p.schall/p.schall.html">Peter Schall</a></h4>
    <p>Professor <a href="https://peterschall.de">Soft Matter Physics</a> (IoP)</p>
</div>
<div class="box person">
    <div class="image round">
      <a href="https://www.uva.nl/en/profile/s/h/n.shahidzadeh/n.shahidzadeh.html">
      <img src="../images/ai4smm_people/NoushineShahidzadeh.jpg" alt="Noushine Shahidzadeh" /></a>
    </div>
    <h4><a href="https://www.uva.nl/en/profile/s/h/n.shahidzadeh/n.shahidzadeh.html">Noushine Shahidzadeh</a></h4>
     <p>Professor <a href="https://iop.fnwi.uva.nl/scm/">Soft Matter</a> (IoP)</p>
</div>
</div>

<div class="flex flex-4">
<div class="box person">
    <div class="image round">
      <a href="https://www.uva.nl/en/profile/w/o/s.woutersen/s.woutersen.html">
      <img src="../images/ai4smm_people/SanderWoutersen.jpg" alt="Sander Woutersen" /></a>
    </div>
    <h4><a href="https://www.uva.nl/en/profile/w/o/s.woutersen/s.woutersen.html">Sander Woutersen</a></h4>
    <p>Professor <a href="https://hims.uva.nl/content/research-groups/molecular-photonics/molecular-photonics.html">Molecular Photonics</a> (HIMS)</p>
</div>
<div class="box person"></div>
<div class="box person"></div>
<div class="box person"></div>
</div>


<hr style="width:100%;text-align:left;margin-left:0">

<header>
<h2 id="board_id">Board members</h2>
<br/>
</header>

<div class="flex flex-4">
<div class="box person">
    <div class="image round">
      <a href="https://www.uva.nl/en/profile/b/o/d.bonn/d.bonn.html">
      <img src="../images/ai4smm_people/DanielBonn.jpg" alt="Daniel Bonn" /></a>
    </div>
    <h4><a href="https://www.uva.nl/en/profile/b/o/d.bonn/d.bonn.html">Daniel Bonn</a></h4>
     <p>Professor <a href="https://iop.fnwi.uva.nl/scm/">Soft Matter</a> (IoP)</p>
</div>
<div class="box person">
    <div class="image round">
      <a href="https://www.uva.nl/en/profile/e/n/b.ensing/b.ensing.html">
      <img src="../images/ai4smm_people/BerndEnsing.jpg" alt="Bernd Ensing" /></a>
    </div>
    <h4><a href="https://www.uva.nl/en/profile/e/n/b.ensing/b.ensing.html">Bernd Ensing</a></h4>
    <p>Associate Processor <a href="https://www.compchem.nl/staff_members/dr-ir-b-bernd-ensing/">Computational Chemistry</a> (HIMS)</p>
</div>
<div class="box person">
    <div class="image round">
      <a href="https://www.uva.nl/en/profile/h/a/m.a.haring/m.a.haring.html">
      <img src="../images/ai4smm_people/MichelHaring.jpg" alt="Michel Haring" /></a>
    </div>
    <h4><a href="https://www.uva.nl/en/profile/h/a/m.a.haring/m.a.haring.html">Michel Haring</a></h4>
    <p>Professor <a href="https://sils.uva.nl/research/collaboration-initiatives/green-life-sciences/green-life-sciences.html">Plant Physiology</a> (SILS)</p>
</div>
<div class="box person">
    <div class="image round">
      <a href="https://www.uva.nl/en/profile/m/e/j.w.vandemeent/j.w.van-de-meent.html">
      <img src="../images/ai4smm_people/Jan-WillemvandeMeent.jpg" alt="Jan-Willem van de Meent" /></a>
    </div>
    <h4><a href="https://www.uva.nl/en/profile/m/e/j.w.vandemeent/j.w.van-de-meent.html">Jan-Willem van de Meent</a></h4>
    <p>Associate Processor <a href="http://amlab.science.uva.nl/people/JanWillemVanDeMeent/">AMLab</a> (IvI)</p>
</div>
</div>

<div class="flex flex-4">
<div class="box person">
    <div class="image round">
      <a href="https://www.uva.nl/en/profile/s/l/j.c.slootweg/j.c.slootweg.html">
      <img src="../images/ai4smm_people/ChrisSlootweg.jpg" alt="Chris Slootweg" /></a>
    </div>
    <h4><a href="https://www.uva.nl/en/profile/s/l/j.c.slootweg/j.c.slootweg.html">Chris Slootweg</a></h4>
    <p>Associate Professor <a href="https://hims.uva.nl/content/research-groups/synthetic-organic-chemistry/group-members/group-members.html">Synthetic Organic Chemistry</a> (HIMS)</p>
</div>
<div class="box person">
    <div class="image round">
      <a href="https://www.uva.nl/en/profile/w/e/a.p.vanwezel/a.p.van-wezel.html">
      <img src="../images/ai4smm_people/AnnemarievanWezel.jpg" alt="Annemarie van Wezel" /></a>
    </div>
    <h4><a href="https://www.uva.nl/en/profile/w/e/a.p.vanwezel/a.p.van-wezel.html">Annemarie van Wezel</a></h4>
    <p>Professor <a href="https://ibed.uva.nl/content/research-departments/fame/freshwater-and-marine-ecology.html">Environmental Ecology</a> (IBED)</p>
</div>
<div class="box person">
    <div class="image round">
      <a href="https://www.uva.nl/profiel/b/a/m.j.bartels/m.j.bartels.html">
      <img src="../images/ai4smm_people/MarcelBartels.jpg" alt="Marcel Bartels" /></a>
    </div>
    <h4><a href="https://www.uva.nl/profiel/b/a/m.j.bartels/m.j.bartels.html">Marcel Bartels</a></h4>
    <p>AI4SMM Secretary (HIMS)</p>
</div>
<div class="box person"></div>
</div>




</section>
</div>

<!-- </section>  -->


</body>
</html>
