---
layout: page-fullwidth 
---

<html>

<body>

<!--
    <header class="major special">
    <h1>Who we are</h1>
    </header>
-->


    <!-- Two -->
<!--    <section id="people" class="wrapper style1 special"> -->

<hr style="width:100%;text-align:left;margin-left:0">

    <section id="people_id" class="people">
    <div class="inner">
      <header>
        <h2>Management</h2>
        <br/>
      </header>

     <div class="flex flex-4">
        <div class="box person">
	  <div class="image round">
	    <a href="http://www.acmm.nl/ensing/">
	    <img src="../people/BerndEnsing2_s.jpg" alt="Bernd Ensing" /></a>
	  </div>
	  <h4><a href="http://www.acmm.nl/ensing/">Bernd Ensing</a></h4>
	  <p>Director</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.uva.nl/en/profile/f/o/p.d.forre/p.d.forre.html">
	    <img src="../people/PatrickForre.jpg" alt="Patrick Forre" /></a>
	  </div>
	  <h4><a href="https://www.uva.nl/en/profile/f/o/p.d.forre/p.d.forre.html">Patrick Forr&eacute</a></h4>
	  <p>Lab Manager</p>
	</div>
          <div class="box person"></div>
          <div class="box person"></div>
      </div>	

<hr style="width:100%;text-align:left;margin-left:0">

      <header>
        <h2>Group leaders and consultants</h2>
        <br/>
      </header>
      <div class="flex flex-4">
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.uva.nl/profiel/b/o/w.bouten/w.bouten.html">
	    <img src="../people/WillemBouten.jpg" alt="Willem Bouten" /></a>
	  </div>
	  <h4><a href="https://www.uva.nl/profiel/b/o/w.bouten/w.bouten.html">Willem Bouten</a></h4>
	  <p>Prof. Comput. Geo-Ecology</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.uva.nl/en/profile/h/a/l.w.hamoen/l.w.hamoen.html">
	    <img src="../people/LeendertHamoen.jpg" alt="Leendert Hamoen" /></a>
	  </div>
	  <h4><a href="https://www.uva.nl/en/profile/h/a/l.w.hamoen/l.w.hamoen.html">Leendert Hamoen</a></h4>
	  <p>Prof. Life Sciences</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.uva.nl/profiel/h/o/a.g.hoekstra/a.g.hoekstra.html">
	    <img src="../people/AlfonsHoekstra2.jpg" alt="Alfons Hoekstra" /></a>
	  </div>
	  <h4><a href="https://www.uva.nl/profiel/h/o/a.g.hoekstra/a.g.hoekstra.html">Alfons Hoekstra</a></h4>
	  <p>Prof. Computational Science</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.uva.nl/profiel/j/o/m.j.jonker/m.j.jonker.html">
	    <img src="../people/MartijsJonker.jpg" alt="Martijs Jonker" /></a>
	  </div>
	  <h4><a href="https://www.uva.nl/profiel/j/o/m.j.jonker/m.j.jonker.html">Martijs Jonker</a></h4>
	  <p>Assoc. Prof. Life Sciences</p>
	</div>
      </div>	

      <div class="flex flex-4">	  
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.uva.nl/en/profile/l/o/e.e.vanloon/e.e.vanloon.html">
	    <img src="../people/EmielvanLoon.jpg" alt="Emiel van Loon" /></a>
	  </div>
	  <h4><a href="https://www.uva.nl/en/profile/l/o/e.e.vanloon/e.e.vanloon.html">Emiel van Loon</a></h4>
	  <p>Asst. Prof. Statistical Ecology</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.uva.nl/profiel/m/o/j.m.mooij/j.m.mooij.html">
	    <img src="../people/JorisMooij.jpg" alt="Joris Mooij" /></a>
	  </div>
	  <h4><a href="https://www.uva.nl/profiel/m/o/j.m.mooij/j.m.mooij.html">Joris Mooij</a></h4>
	  <p>Prof. Mathematics</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.uva.nl/en/profile/n/i/s.m.nissanke/s.m.nissanke.html">
	    <img src="../people/SamayaNissanke.jpg" alt="Samaya Nissanke" /></a>
	  </div>
	  <h4><a href="https://www.uva.nl/en/profile/n/i/s.m.nissanke/s.m.nissanke.html">Samaya Nissanke</a></h4>
	  <p>Assoc. Prof. Physics</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.uva.nl/profiel/p/i/b.w.j.pirok/b.w.j.pirok.html">
	    <img src="../people/BobPirok.jpg" alt="Bob Pirok" /></a>
	  </div>
	  <h4><a href="https://www.uva.nl/profiel/p/i/b.w.j.pirok/b.w.j.pirok.html">Bob Pirok</a></h4>
	  <p>Asst. Prof. Analytical Chemistry</p>
	</div>
      </div>	

      <div class="flex flex-4">	  
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.uva.nl/en/profile/r/o/b.a.rowlinson/b.a.rowlinson.html">
	    <img src="../people/AntoniaRowlinson.jpg" alt="Antonia Rowlinson" /></a>
	  </div>
	  <h4><a href="https://www.uva.nl/en/profile/r/o/b.a.rowlinson/b.a.rowlinson.html">Antonia Rowlinson</a></h4>
	  <p>Asst. Prof. Astrophysics</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.ics.uci.edu/~welling/">
	    <img src="../people/MaxWelling.jpg" alt="Max Welling" /></a>
	  </div>
	  <h4><a href="https://www.ics.uci.edu/~welling/">Max Welling</a></h4>
	  <p>Prof. Comput. Science</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.uva.nl/en/profile/w/e/c.weniger/c.weniger.html">
	    <img src="../people/ChristophWeniger.jpg" alt="Christoph Weniger" /></a>
	  </div>
	  <h4><a href="https://www.uva.nl/en/profile/w/e/c.weniger/c.weniger.html">Christoph Weniger</a></h4>
	  <p>Assoc. Prof. Theor. Physics</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <a href="https://www.uva.nl/en/profile/w/i/r.a.m.j.wijers/r.a.m.j.wijers.html">
	    <img src="../people/RalphWijers.jpg" alt="Ralph Wijers" /></a>
	  </div>
	  <h4><a href="https://www.uva.nl/en/profile/w/i/r.a.m.j.wijers/r.a.m.j.wijers.html">Ralph Wijers</a></h4>
	  <p>Prof. Astrophysics</p>
	</div>
      </div>

<hr style="width:100%;text-align:left;margin-left:0">

      <header>
        <h2 id="students">PhD students</h2>
        <br/>
      </header>
      <div class="flex flex-4">	  
	<div class="box person">
	  <div class="image round">
	    <a href="">
	    <img src="../people/JimBoelrijk2.jpg" alt="Jim Boelrijk" /></a>
	  </div>
	  <h4><a href="">Jim Boelrijk</a></h4>
	  <p>PhD student</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <a href="">
	    <img src="../people/FionaLippert.jpg" alt="Fiona Lippert" /></a>
	  </div>
	  <h4><a href="">Fiona Lippert</a></h4>
	  <p>PhD student</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <img src="../people/BenjaminMiller.jpg" alt="Benjamin Miller" />
	  </div>
	  <h4><a href="">Benjamin Miller</a></h4>
	  <p>PhD student</p>
	</div>
	<div class="box person">
	  <div class="image round">
	    <a href="">
	    <img src="../people/TeodoraPandeva.jpg" alt="Teodora Pandeva" /></a>
	  </div>
	  <h4><a href="">Teodora Pandeva</a></h4>
	  <p>PhD student</p>
	</div>
      </div>

      <div class="flex flex-4">
	<div class="box person">
	  <div class="image round">
	    <a href="">
	    <img src="../people/DavidRuhe.jpg" alt="David Ruhe" /></a>
	  </div>
	  <h4><a href="">David Ruhe</a></h4>
	  <p>PhD student</p>
	</div>
	<div></div>
	<div></div>
	<div></div>
      </div>

      </div>
    </section>
  

</div>
</section>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>
